html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 3rem;
}

h1 span{
    display: inline-block; 
}